* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-right: 3rem;
}

.nav-links li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}
