* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.show {
  display: "";
  color: aquamarine;
  padding: 5px;
  margin-right: 5px;
}


