.profile-table {
    border-collapse: separate;
    border-spacing: 0 0;
    width: 30rem;
    margin: 0 auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    margin-left: 3rem;
  }
  
  .profile-table th,
  .profile-table td {
    border: 0.5px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .profile-table th {
    font-weight: bold;
  }
  
  .profile-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .profile-table-hover tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .active-btn {
    display: inline-block;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  
  