.Rocket-Card {
  display: flex;
  gap: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}

.Rocket-Heading {
  margin-top: 2rem;
}

img {
  width: 300px;
}

.rocket-text {
  margin-top: -2rem;
}

.Reserve-Button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.Reserve-Button:hover {
  background-color: #0069d9;
}

.Cancel-Reservation {
  background-color: #ecf2f8;
  color: #5c5c5c;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.Cancel-Reservation:hover {
  background-color: #0069d9;
}

.hidden {
  display: none;
}

.show {
  background-color: blue;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-right: 6px;
    padding: 5px;
}


